extends layout

block content
  h1 Welcome to my Color Changer
  form(method="POST" action="/")
    label(for="picker") Background
    br
    input(type="color" name="colorPicker" id="picker" value=`${color}`)
    br
    label(for="textPicker") Text
    br
    input(type="color" name="textColorPicker" id="textPicker" value=`${textColor}`)
    br
    button(type="submit") Submit
  form(method="POST" action="/random")
    button(type="submit") Random